.idea
src/cfa/fastapi-app/.idea
*.db
*pycache*
*.pyc
src/cfa/data/*
src/cfa/fastapi-app/app/models/example.py
src/cfa/fastapi-app/app/schemas/example.py
src/cfa/fastapi-app/app/crud/crud_example.py
dist/
*.egg-info