include src/cfa/fastapi-app/env_example
include src/cfa/fastapi-app/*.sh
include src/cda/fastapi-app/git_hooks/*
include src/cfa/fastapi-app/*.md
include src/cfa/fastapi-app/Pipfile*
include src/cfa/fastapi-app/Dockerfile*
include src/cfa/fastapi-app/docker-compose*
include src/cfa/fastapi-app/.gitignore
